html, body {
    height: 100%;
}
html
{
    overflow-x: hidden; /* enlève le scroll horizontal sur mes page web !!!*/
}

body {
    margin: 0;
    padding: 0;
    /*padding-top: 80px;*/
    /*background-color: rgba(0,0,102,1);*/
    background-image: url("../img/sand.png");
    background-size: contain;
    background-repeat: repeat;
}

/*
* JUMBOTRON
**/
.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

/*
.fixed-top {
    position: fixed;
}
*/


/*
* NAVBAR
**/
.navbar {
    position: sticky;
   /* min-height: 51px; */
   /* margin-bottom: 20px;*/
    border: 1px solid rgba(245,245,220,0.6);
    /*background-color: rgba(233,236,239,0.6);*/
    background-color: rgba(245,245,220,0.6);
}

.bars {
    color:rgb(0,255,255);
    padding-top: 4px;
    text-align: center;
}

/*
.navbar-toggler {
    background-color:  rgba(255,35,255,0.6);
    border: 1px solid red;
}
*/
.navbar-toggler-icon{
    background-color:  rgba(255,35,255,0.6);
    border: 1px solid rgb(0,255,255);
    border-radius: 50%;
    box-sizing: content-box;
}

.offset {
    margin-top: 51px;
}
.navbar-brand img{
    border: 3px solid rgba(0,255,255,0.6);
    border-radius: 50%;
    cursor: pointer;
}

.navbar-brand img:hover {
    border: 3px solid rgba(255,35,255,0.6);
}
.navbar-text {
    color: rgba(255,0,0,0.6);
}

.nav-link {
    color: rgba(0,255,255,0.6);
    text-shadow: 1px 1px 1px rgba(245,245,220,0.6);
    text-align: center;
    border-top: 1px solid rgba(245,245,220,0.6);
    background-color: rgba(248,13,32,0.6);
    border-radius: 0;
    margin-right: 10px;
}

.nav-link:hover {
    color: rgba(0,0,255,0.6);
    text-shadow: 1px 1px 1px rgba(0,255,255,0.6);
    background-color: rgba(245,245,220,0.6);
}


/*
* DROPDOWN MENU
**/

.dropdown-menu {
    background-color: rgba(255,35,255,0.6);
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(245,245,220,0.6);
}

.dropdown-item {
    margin: 0;
    padding: 0;
    background-color:rgba(248,13,32,0.6);
    color:  rgba(0,0,139,0.6);
    text-shadow: 1px 1px 1px rgba(245,245,220,0.6);
}

.dropdown-item:hover {
    margin: 0;
    padding: 0;
    color: rgba(0,0,255,0.6);
    text-shadow: 1px 1px 1px rgba(255,0,0,0.6);
    background-color:rgba(245,245,220,0.6);
}

.dropdown-divider {
    color: rgba(245,245,220,0.6);
}

.dropdown-divider {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(245,245,220,0.);
}

/*
* TEMPLATE
**/
#content {
    font-weight: bolder;
    color: rgb(0,0,255);
}



/*
* PAGE ABOUT
**/

.titlePage {
    color: rgb(0,0,255);
}

.portfolioName {
    font-size: 25px;
}

.cv {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.cv:hover {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}


/*
*MEDIA QUERY NAVBAR
**/

@media screen and (min-width: 768px){
    
    /*
    * NAVBAR
    **/
    
    .nav-link {
        border: none;
        border-radius: 50%;
    } 
    
    .dropdown-menu {
        border-radius: 50%;
        background-color: transparent;
        border: none;
    }
    
    .nav-item .nav-link {
       padding: 15px;    
    }
    
    .dropdown-item {
        margin-top: 6px;
        padding: 6px;
        border-radius: 50%;
        background-color: rgba(245,245,220,0.6);
    }
    
    .dropdown-item:hover {
        margin-top: 6px;
        padding: 6px;
    }
    
    .dropdown-divider {
        border:none;
    }
    
    
    
}









/*
* 2ème NAVBAR BUTTON
**/

/* Icon 1 */

.animated-icon1 {
width: 42px;
height: 42px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
text-align: center;
}

.animated-icon1 span {
margin-left: 5px;
margin-top: 10px;
display: block;
position: absolute;
height: 2px;
width: 80%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


/*Suppression de l'encadré bleu au clic du btn de navigation de la navbar en moyenne résolution */
.navbar-toggler:not(:disabled):not(.disabled) {
    outline-style: none;
}






/*
* certificateView.php
**/
/*
* gallerie des certificats
*/

.gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card {
    transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(248,13,32,0.25);
}

.gallery-block.cards-gallery .card-body {
    text-align: center;
}

.gallery-block.cards-gallery .card-body p{
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(255,255,255,0.35);
}

.galleryOne {
    display: none;
}
.galleryTwo {
    display: block;
}  

@media (min-width: 992px) {
    
    
   .galleryOne {
        display: block;
    }
    
    .galleryTwo {
        display:none;
    }
   
    
    
}

@media (min-width:576px) {
    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(255,255,255,0.35);rgba(255,255,255,0.25);!important;
    }
}




.hr {
    background-color: rgba(0,0,255,0.6);
}

h2 {
    margin-top: 0;
}















/*
* worksView.php
**/




/* accordion */

.stagger1 {
    animation-delay: 0.3s;  
}

.stagger2 {
    animation-delay: 0.5s;  
}

.stagger3 {
    animation-delay: 0.7s;  
}

.stagger4 {
    animation-delay: 0.9s;  
}

.card {
    background-color:rgb(0,255,255);
}

.bg {
    background-color: rgba(255,35,255,0.6);
}

p.stagger4 > a {
    font-size: 30px;
    text-decoration: none;
    color:rgb(255,165,0);
}



/*****************************************************/
.works{
    margin: 20px;
}



/* Carousel

----------------------------------- */


.carousel {
    background-color: #000;
}



.carousel.carousel-fade .carousel-item {

    display: block;

    opacity: 0;

    transition: opacity ease-out 1.7s;

    left: 0;

    top: 0;

    position: absolute;

}

.carousel.carousel-fade .carousel-item.active {

    opacity: 1 !important;

}

.carousel.carousel-fade .carousel-item:first-child {

    top: auto;

    position: relative;

    transition: opacity ease-out 1.7s;

}

.carousel.carousel-fade .carousel-item:second-child {

    top: auto;

    position: relative;

    transition: opacity ease-out 1.7s;

}

.carousel-item .img-fluid {

    margin: 0 auto;

}

.carousel img {

    opacity: 1;

    filter: alpha(opacity=50);

}


/*
* Page adminContactView.php
**/






/*
* page adminProfileView.php
**/


/* USERNAME */
.username_profile /* , .firstname_profile , .lastname_profile , .email_profile */ {
    font-size: 30px;
}

/* AVATAR */
.avatar_profile {
    border: 3px solid rgb(0,0,255,0.6);
    border-radius: 50%;
}

/* MINI-AVATAR */
.mini_avatar_profile {
    border: 3px solid rgba(0,0,255,0.6);
    border-radius: 50%; 
}

.popup_update_avatar_profile, .popup_update_mini_avatar_profile, .popup_update_username_profile, .popup_update_firstname_profile, .popup_update_lastname_profile, .popup_update_email_profile, .popup_update_pass_profile, .popup_update_profession_profile, .popup_update_description_profile, .popup_delete_description_profile /*, .popup_delete_email_profil */ {
    display: none;
    background-color: rgba(191,191,191,0.3);
    text-align: center;
    margin: auto;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
    margin-bottom: 1%;
    box-sizing: content-box;
    justify-content: flex-end;
    align-content: center;
}

.btn_closePopupAvatar, .btn_closePopupMiniAvatar, .btn_closePopupUsername, .btn_closePopupFirstname, .btn_closePopupLastname, .btn_closePopupEmail, .btn_closePopupPass, .btn_closePopupProfession, .btn_closePopupDescription, .btn_closePopupDeletetDescription {
    cursor: pointer;
    font-weight: bold;
}


/*
* Page contactView.php
**/

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.card-img {
    height: 1050px;
}

.boxShadow:hover { 
    box-shadow: 0px 0px 25px 14px  aqua;
}

.boxShadow2:hover { 
    box-shadow: 0px 0px 25px 14px  aqua;
}


.fond {
    display: none;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: aqua;
    opacity: 0.3;
    z-index:5;
    
}

.fond2 {
    display: none;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
    height: 1050px;
    width: 100%;
    background-color: aqua;
    opacity: 0.3;
    z-index:5;
    
}

/*
.map-container {
    height: 800px;
    background: white;
}
*/

/*
*page PrivateFormsView.php
**/




/*
* Page adminCertificatesView.php
**/


/* DROPZONE */



 input[type="file"]{
    width: 90px;
}


.dropzoneTitle {
    font-size: 15px;
}

#dropZone {
	border: 2px dashed rgb(0,0,255);;
	padding: 30px;
	width: 200px;
	margin-top: 20px;
}
    
   
@media (min-width:576px) {
    /*
    * DROPZONE
    **/
    
    input[type="file"]{
        width: 300px;
    }

    
    .dropzoneTitle {
        font-size: 30px;
    }
    
    #dropZone {
        border: 3px dashed rgb(0,0,255);;
        padding: 50px;
        width: 500px;
        margin-top: 20px;
    }
    
}



.border {
    border: 3px solid rgb(0,0,255)!important;
    color: rgb(0,0,255)!important;
}

fieldset.border {
    border: 3px solid rgb(0,0,255)!important;
    color: rgb(0,0,255)!important;
}


#error {
   color: red;
}

.containerGallery, .rowGallery, .myImg {
    margin-top: 50px;
}

#uploadedFiles img{
    width: 100% !important;
}




/* largeur des champs du formulaire des infos des certificats */
#certificateName, #certificateTitle, #certificateCategory {
    width: 200px; 
}



/*
* adminWorksView.php
**/


/* DROPZONE2 */



 input[type="file"]{
    width: 90px;
}


.dropzoneTitle2 {
    font-size: 15px;
}

.dropZone2 {
    text-align: center;
	border: 1px dashed rgb(0,0,255);;
	padding: 30px;
	width: 200px;
	margin-top: 20px;
}
    
   
@media (min-width:576px) {
    /*
    * DROPZONE
    **/
    
    input[type="file"]{
        width: 300px;
    }

    
    .dropzoneTitle2 {
        font-size: 20px;
    }
    
    .dropZone2 {
        text-align: center;
        border: 2px dashed rgb(0,0,255);;
        padding: 30px;
        width: 250px;
        margin-top: 15px;
    }
    
}

/* largeur des champs du formulaire des infos des projets */
#workName, #workTitle, #workCategory {
    width: 200px;
}


.bgSlides, .rowGallery2 {
    background-color: rgb(0,255,255);
}

.containerGallery2, .rowGallery2, myImg2 {
    margin-top: 50px;
    
}

.uploadedFiles2 img{
    width: 100% !important;
}

.borderFieldset {
    border: 3px solid rgb(0,0,255);
    color: rgb(0,0,255);
}


/*
* Page adminContactView.php
**/

.bgColor {
   background-color: rgba(0,255,255,0.6); 
}